.Course {
    width: 22vw;
    height: 20vh;
    margin-top: 30px;
    margin-left: 1.7vw;
    font-size: 1.7rem;
    padding: 20px;
    background-color: #f2f2f2;
    color: black;
    box-shadow: 3px 3px #d3d1d1;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.Name {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Group {
    font-size: 1rem;
    color: darkgrey;
}

.Count {
    font-size: 0.7rem;
    color: darkgrey;
}

.ButtonEdit {
    width: 21px;
    font-size: 18px;
    border: none;
    color: #9b9b9b;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    position: absolute;
    bottom: 8px;
    right: 60px;
}

.ButtonDelete {
    width: 21px;
    font-size: 18px;
    border: none;
    color: #9b9b9b;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.ButtonEdit :hover{
    color: #333333;
}

.ButtonDelete :hover{
    color: #333333;
}