.Card {
    width: 15vw;
    height: 17vh;
    background-color: #eae1d7;
    border-radius: 2px;
    border: 1px solid #756e65;
    margin: 1vh 0.5vw;
    cursor: pointer;
    position: relative;
}

.Text {
    width: 14vw;
    max-height: 16vh;
    padding: 0.5vh 0.5vw;
    font-size: 12px;
    text-align: center;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Del {
    font-size: 12px;
    bottom: 1vh;
    right: 0.5vw;
    position: absolute;
}

.Del:hover {
    color: #dd4b4f;
}

.Number {
    font-size: 12px;
    bottom: 1vh;
    left: 0.5vw;
    position: absolute;
}