.Box0 {
    width: 50px;
    height: 42px;
    background-color: red;
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    margin-left: 8px;
    cursor: pointer;
}

.Box1 {
    width: 50px;
    height: 42px;
    background-color: tomato;
    color: blue;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    margin-left: 8px;
    cursor: pointer;
}

.Box2 {
    width: 50px;
    height: 42px;
    background-color: cyan;
    color: rosybrown;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    margin-left: 8px;
    cursor: pointer;
}

.Box3 {
    width: 50px;
    height: 42px;
    background-color: lightsalmon;
    color: darkgrey;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    margin-left: 8px;
    cursor: pointer;
}

.Box4 {
    width: 50px;
    height: 42px;
    background-color: darkseagreen;
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    margin-left: 8px;
    cursor: pointer;
}

.Box5 {
    width: 50px;
    height: 42px;
    background-color: lightblue;
    color: grey;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    margin-left: 8px;
    cursor: pointer;
}

.Fav {
    width: 50px;
    height: 42px;
    background-color: rgb(146, 146, 146);
    color: gold;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    margin-left: 8px;
    cursor: pointer;
}