.AddCard {
    width: 15vw;
    height: 17vh;
    background-color: #eae1d7;
    border-radius: 2px;
    border: 1px solid #756e65;
    margin: 1vh 0.5vw;
    cursor: pointer;
    position: relative;
}

.Text {
    padding-top: 5vh;
    font-size: 18px;
    text-align: center;
}

.Plus {
    padding-top: 1vh;
    font-size: 18px;
    text-align: center;
}