.Side {
    float: left;
    margin: 0;
    padding: 0;
    width: 18vw;
    height: 93vh;
    background-color: #eae1d7;
    cursor: default;
    position: fixed;
    top: 7vh;
}

.Left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18vw;
    height: 70vh;
    cursor: default;
    position: fixed;
    top: 18.2vh;
    overflow-y: auto;
}

.Border {
    border-left: 1px solid grey;
    float: right;
    cursor: default;
}

.Courses {
    text-align: center;
    color: #685f74;
    border-bottom: 1px solid white;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 25px 16px;
}

.Side .Add {
    background-color: #eae1d7;
    color:#685f74;
    bottom: 3vh;
    left: 3.4vw;
    position: fixed;
    width: 11vw;
    height: 6vh;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0px;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.Add:hover {
    background-color: #ffbf89;
}