.Course {
    width: 21vw;
    height: 20vh;
    margin: 2vh 0 2vh 2.6vw;
    font-size: 1.7rem;
    padding: 20px;
    background-color: #f5deb3;
    box-shadow: 0px 0px 10px #685f74;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.Name {
    margin: 0;
    color: #685f74;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Group {
    font-size: 1rem;
    color: #9c94a7;
}

.Count {
    font-size: 0.7rem;
    color: #9c94a7;
}

.ButtonEdit {
    width: 21px;
    height: 21px;
    font-size: 18px;
    border: none;
    color: #9c94a7;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    position: absolute;
    bottom: 8px;
    right: 60px;
}

.ButtonDelete {
    width: 21px;
    height: 21px;
    font-size: 18px;
    border: none;
    color: #9c94a7;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.ButtonEdit:hover{
    color: #685f74;
    background-color: #ffbf89;
    border-radius: 10px;
}

.ButtonDelete:hover{
    color: #dd4b4f;
    background-color: #ffbf89;
    border-radius: 10px;
}