.Course {
    width: 21vw;
    height: 20vh;
    margin: 2vh 0 2vh 2.6vw;
    font-size: 1.7rem;
    padding: 20px;
    background-color: #f5deb3;
    box-shadow: 0px 0px 10px #685f74;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.Name {
    margin: 0;
    color: #685f74;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Group {
    font-size: 1rem;
    color: #9c94a7;
}

.Count {
    font-size: 0.7rem;
    color: #9c94a7;
}

.ButtonEdit {
    font-size: 18px;
    border: none;
    background-color: #f5deb3;
    color: #9c94a7;
    outline: none;
    position: absolute;
    bottom: 10px;
    right: 62px;
    width: 40px;
    height: 40px;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
    /* bottom: 8px;
    right: 60px; */
}

.ButtonDelete {
    font-size: 18px;
    border: none;
    background-color: #f5deb3;
    color: #9c94a7;
    outline: none;
    position: absolute;
    bottom: 10px;
    right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
}

.ButtonEdit:hover{
    color: #685f74;
    background-color: #ffbf89;
    border-radius: 10px;
}

.ButtonDelete:hover{
    color: #dd4b4f;
    background-color: #ffbf89;
    border-radius: 10px;
}

.List {
    list-style: none;
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 21px;
    height: 21px;
}