.QaA {
    top: 0;
    background-color: #fff4e7;
    position: fixed;
    width: 100vw;
    height: 78vh;
}

.Q {
    left: 22.5vw;
    position: fixed;
    font-weight: bold;
    top: 7vh;
}

.A {
    right: 22.5vw;
    position: fixed;
    font-weight: bold;
    top: 7vh;
}

.BoxQ {
    top: 17vh;
    left: 5vw;
    position: fixed;
    width: 40vw;
    height: 45vh;
    background-color: #eae1d7;
    border: 1px solid black;
}

.BoxA {
    top: 17vh;
    right: 5vw;
    position: fixed;
    width: 40vw;
    height: 45vh;
    background-color: #eae1d7;
    border: 1px solid black;
}

.TextQ {
    margin: 4vh 2vw;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: clip;
    font-size: 1.1rem;
    text-align: center;
}

.TextA {
    margin: 4vh 2vw;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: clip;
    font-size: 1.1rem;
    text-align: center;
}

.Plus {
    background-color: #8bd0b4;
    color: white;
    font-size: 16px;
    bottom: 24vh;
    right: 1vw;
    position: fixed;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 0px;
    cursor: pointer;
}

.Delete {
    background-color: #dd4b4f;
    color: white;
    font-size: 16px;
    bottom: 24vh;
    right: 5vw;
    position: fixed;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 0px;
    cursor: pointer;
}

.Done {
    background-color: #8bd0b4;
    color: white;
    top: 2vh;
    right: 1vw;
    position: fixed;
    width: 50px;
    height: 40px;
    text-align: center;
    border: 0px;
    cursor: pointer;
}