.Topnav {
    height: 7vh;
    width: 100vw;
    list-style-type: none;
    overflow: hidden;
    background-color: #ce874e;
    color: white;
    position: fixed;
    top: 0;
}

.Left {
    width: 10.8vw;
    float: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 14px 16px;
    cursor: default;
}

.Border {
    border-left: 1px solid white;
    float: right;
    cursor: default;
}

.Setting {
    width: 16px;
    height: 16px;
    float: right;
    padding: 16px 16px;
    color: white;
    cursor: pointer;
}

.Setting:hover {
    transform: rotateZ(36000deg);
    transition-duration: 500s;
    transition-timing-function: linear;
}

/* @media screen and (max-width: 600px){
    .Topnav li.right, 
    .Topnav li {float: none;}
} */