.Topnav {
    max-height: 7.6vh;
    width: 18vw;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}

.Left {
    width: 10.8vw;
    float: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 14px 16px;
    cursor: default;
}

.Border {
    border-left: 1px solid grey;
    float: right;
    cursor: default;
}

.Setting {
    float: right;
    padding: 14px 16px;
    color: white;
    cursor: pointer;
}

.Topnav .Setting:hover {
    transform: rotate(36000deg);
    transition-duration: 500s;
    transition-timing-function: linear;
}

/* @media screen and (max-width: 600px){
    .Topnav li.right, 
    .Topnav li {float: none;}
} */